@charset "UTF-8"

/* ヘッダー */

.header {
    
}

.header_inner {
    width: 90%;
    height: 150%;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
    }

*{
    margin:0;
    padding:0;
 }

.header_inner_name {
    width: auto;
    display: flex;
    flex: none;
    align-items: center;
    font-size: 23px;
}
.header_inner span {
    color: #8b4513;
}

.header_nav {
    margin-left: auto;
    display: flex;
    flex: none;
    align-items: center;
    font-size: 23px;
}

.nav-item a {
    margin-left: 60px;
    color: black;
    text-decoration: none;
}

body {
    background-color: #ffff;
}

/**各メニュー項目の背景**/
.heading_style {
    background-color: #eeeeee;
    margin: 0;
}


/***トップイメージ***/

.top_imgs {
    margin-top: 1em;
    margin-bottom: 1em;
}

.top-img img {
    width: 90%;
    height: 90%;
    margin:0 auto;
    display: flex;
}

.content_header_item {
    text-align:center;
    font-size: 30px;
}

/**ニュース**/
.news_content {
    margin-left: 100px;
    margin-right: 100px;
}

.news_content a {
    color: black;
    text-decoration: none;
}

.news_items {
    position: relative;
    background-color: rgb(225, 225, 225);
    border-radius: 50px;
    text-align: center;
    padding: 1em;
    padding-left: 20px;
    margin: 20px auto;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 5px;
}

.news_date {
    margin: auto;

}

.news_item {
    margin: auto;
}
